// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #8120E2, #21033f);

    

    @media(max-width: 1366px) {
        padding: 10px 30px;
    }
}
.cp {
    &__container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        width: 100%;
        height: 95vh;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        position: relative;
    }

    &__side {
        color: #fff;
        font-size: .9rem;
        padding: 5px 20px;
        background: #131521;
        max-width: 400px;
        &-widget {
            margin-bottom: 20px;
        }
    }

    &__content {
        color: #fff;
        position: relative;
        background: #242834 url('../img/cp-bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px 20px;
    }
}


// Last winners
.cp {
    &__lw {

        &-carousel {             
            height: 250px;
            //width: 200px;
            overflow-y: hidden;
           /*  @media(max-height: 1024px) {
                height: 350px;
            } */
        }
        &-title {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto 10px auto;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        &-info {
            padding: 5px;

            &.__picture {
                width: 70px;
                height: auto;
                padding: 5px;
                border-radius: 3px;
            }
            &.__details {
                width: 100%;
            }

            .__details {

                &-name {
                    color: #999;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                &-award {
                    color: #666;
                    font-size: .8rem;
                    line-height: .8rem;
                    span {
                        color: #fff;
                        font-weight: 600;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}


// Powerlevel + Cashback
.cp {
    &__power {
        text-align: center;
        h4 {
            font-size: 1rem;
            line-height: 1.8rem;
            font-weight: 600;
            margin: 0 0 5px;
        }
        p {
            color: #999;
            margin: 0;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 5px auto;
        }
    }
}

// Side Actions
.cp {
    &__actions {
        margin: 20px 0 0;

        .btn {
            display: block;
            width: 100%;
            margin-bottom: 20px;

            @media(max-width: 1366px) {
                margin-bottom: 10px;
            }

            &.btn-red {
                box-shadow: 0 5px 5px #af0011;
            }

            &.btn-blue {
                box-shadow: 0 5px 5px #0e6bcf;
            }

            &.btn-dark {
                box-shadow: 0 5px 5px #4e4e4e;
            }

            &.__logout {
                background: linear-gradient(to bottom, #666666, #111111);
                border: unset;
                margin-top: 20px;
                box-shadow: none;
                
            }
        }
    }
}


// Bars
.cp {
    &__content {
        display: grid;
        width: 100%;
        grid-template-rows: 80px 1fr 175px;

        @media(max-width: 1366px) {
            grid-template-rows: 78px 1fr 142px;
        }

        &-layout {
            position: relative;

            /* &.__top {
            } */
            &.__center {
                width: 90%;
                margin: 0 auto;
                
            }
            /* &.__bottom {
            } */
        }
    }
    &__bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 80px;
        &-column {
            padding: 10px;
            .__logo {
                height: 65px;
                width: auto;
                display: block;
                margin: 0 auto;

            }
            .__direction {
                width: 100%;
                display: block;
                color: #fff;
                font-size: 2rem;
                border-radius: 3px;
                padding: 0px 20px;
                font-weight: bold;
                text-transform: uppercase;
                background: #0AC193;
                background: linear-gradient(to bottom,#6FFBD9, #0AC193);
                box-shadow: 0 15px 15px rgba($color: #6FFBD9, $alpha: 0.3);
                transition: all ease-in-out .1s;

                &:hover, &:focus {
                    background: #0AC193;
                    background: linear-gradient(to bottom,#6FFBD9, #0AC193);
                }
            }

            .__login {
                width: 100%;
                display: block;
                color: #fff;
                font-size: 2rem;
                border-radius: 3px;
                padding: 0px 20px;
                font-weight: bold;
                text-transform: uppercase;
                background: #007bff;
                background: linear-gradient(to bottom,#007bff, #003c7d);
                box-shadow: 0 15px 15px rgba($color: #007bff, $alpha: 0.3);
                transition: all ease-in-out .1s;
    
                &:hover, &:focus, &:action {
                    border: none;
                    background: #003c7d;
                    background: linear-gradient(to bottom,#007bff, #007bff);
                }
            }

            .__game {
                width: 100%;
                display: block;
                color: #fff;
                font-size: 2rem;
                letter-space: -2px;
                border-radius: 3px;
                padding: 0px 20px;
                font-weight: bold;
                text-transform: uppercase;
                background: $pink;
                background: linear-gradient(to bottom, $pink, darken($pink, 10%));
                box-shadow: 0 5px 15px rgba($color: $gray-200, $alpha: 0.3);
                transition: all ease-in-out .1s;
    
                &:hover, &:focus, &:action {
                    border: none;
                    background: darken($pink, 10%);
                    background: linear-gradient(to bottom, $pink, $pink);
                }
            }
        }

    }
}

// Boxes
.cp {
    &__box {
        color: #fff;
        background: #242834;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        
        &-title {
            color: #999;
            font-weight: 600;
            font-size: .9rem;
            padding: 0 10px;
            text-align: center;
            text-transform: uppercase;
            background: #1C1E27;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }

        &-value {
            font-size: 2rem;
            line-height: 2rem;
            text-align: center;
            font-weight: bold;
            
        }

        @media(max-width: 1366px) {
            &-title {
                font-size: .9rem;
                padding: 0 10px;
                top: -10px;
            }

            &-value {
                font-size: 1.5rem;
                line-height: 2rem;
                
            }
        }
    }
}

// Jackpot Bar
.cp {
    &__jp {

        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
            max-width: 1020px;
            margin: 0 auto;
        }

        &-item {
            margin: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: center;
            border-radius: 5px;
            background: rgba(0,0,0, 0.4);

            @media(max-width: 1366px) {
                margin: 5px;
            }

        }

        &-info {
            padding: 5px;

            &.__picture {
                width: 60px;
                height: auto;
                padding: 5px;
                border-radius: 3px;

            }

            &.__details {
                width: 100%;
            }

            .__details {

                &-value {
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    text-align: right;
                }

                &-payup {
                    color: #40C4FF;
                    text-align: right;
                    font-weight: 600;
                    font-size: .8rem;
                    line-height: .8rem;
                }

                @media(max-width: 1366px) {
                    &-value {
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                    }

                    &-payup {
                        font-size: .6rem;
                        line-height: .6rem;
                    }
                }
            }
        }
    }
}

// Games Grid

.cp {
    &__gm {
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            width: 100%;
        }

        &-item {
            display: block;
            outline: none;
            padding: 10px;
            
            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                box-shadow: 0 8px 15px rgba(#40C4FF, .35);
            }

            &:hover,
            &:focus {
                img {
                    box-shadow: 0 5px 5px #40C4FF;
                }
            }

        }
    }
}


// Rules Modal

.cp  {
    &__modal {

        &-text {
            padding: 15px;
            border-radius: 5px;
            background: #212529;
        }

        &-body {
            color: #fff;
            position: absolute;
            top: 10%;
            left: 0;
            right: 0;
            bottom: 0;
            background: #131521;
            z-index: 11;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow-y: scroll;
            -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        &-content {
            color: #999;
            padding: 20px;

            .table {
                color: #999;
                thead {
                    color: #fff;
                }
            }
            bold,
            .bold {
                color: #fff;
            }

            h2 {
                color: #fff;
                font-weight: bold;
                margin: 0 0 20px;
            }

            h4 {
                color: var(--blue);
                font-weight: 600;
                margin: 0 0 15px;
            }

          
        }

        .__action {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &-overlay {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 10;
            background: rgba(0,0,0,0.6);
        }
    }
}


// Game Container 

.cp {
    &__game {
        &-container {
            position: relative;
            top: 0;
            left: 0;
            width: 100%!important;
            max-width: 1200px;
            z-index: 1;
            box-sizing: border-box;
            margin: 0 auto;
            background: rgba(0, 0, 0, 0.85);
            padding-bottom: 32%;
            overflow: hidden;
            border-radius: 5px;

            @media(max-width: 1366px) {
                max-width: 1100px;
                padding-bottom: 40%;
            }

            @media(height: 1024px) {
                padding-bottom: 63%;
            }
        }
        &-iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            border: 0;
        }
    }
}

.slick-vertical .slick-slide {
    display: grid!important;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.cp {
    &__pin {
        max-width: 380px;
        margin: 0 auto;      

        &-logo {
            max-width: 250px;
            height: auto;
            margin: 0 auto 20px;
            display: block;
        }

        &-input {
            text-align: center;
            font-size: 2rem;
            margin: 15px 0;
            background: #f8f9fa;
            pointer-events: none;
            -webkit-text-security: square;
        }

        &-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }

        &-button {
            width: 100%;
            height: 50px;
            border: none;
            margin: 0 auto;
            display: block;
            color: #fff;
            font-size: 2rem;
            outline: none;
            border-radius: 3px;
            font-weight: bold;
            text-transform: uppercase;
            background: #007bff;
            background: linear-gradient(to bottom,#007bff, #003c7d);
            transition: all ease-in-out .1s;

            &:hover, &:focus, &:action {
                border: none;
                background: #003c7d;
                background: linear-gradient(to bottom,#007bff, #007bff);
            }

            &.__enter {
                background: #0AC193;
                background: linear-gradient(to bottom,#6FFBD9, #0AC193);
                
                &:hover, &:focus, &:action {
                    border: none;
                    background: #0AC193;
                    background: linear-gradient(to bottom,#6FFBD9, #0AC193);
                }   
            }
            &.__clear {
                background: transparent;
                
                &:hover, &:focus, &:action {
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}

.cp__modal-body.--pin {
    background: #242834 url('../img/cp-bg.jpg') no-repeat;
    background-size: cover;
}